.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

p,
span,
h1,
form {
  animation: fade-in-black 2s ease-in;
}
form {
  display: flex;
    flex-direction: column;
    align-items: center;;
    width: 320px;
    
}
label {
  font-size: 14px;
}

input,
select {
  padding: 1rem;
  margin: 1rem;
  border: none;
  width: 280px;
  cursor: pointer;
}
input:first-child {
  width: 250px;
}
@keyframes fade-in-black {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  background-color: #00d8ff;
  transition: 1s;
}
.btn:hover {
  background-color: #6ca3ff;
}

.rwt__tab {
  color: #fff;
  padding: 0.8rem 1rem !important;
}



.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 920px;
  align-items: center;
  margin: 0 auto;
}

.card {
  flex: 25%;
  display: inline-block;
  margin-top: calc( ( 100vh - 506px ) / 2 );
  margin-right: 15px;
  margin-left: 15px;
  background: #FFFFFF;
  min-width: 270px;
  border: 1px solid #222;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}
.card img {
  width: 120px;
  height: auto;
}

